# Obsidian configuration
.obsidian/

.idea/
documentation/tex/*.aux
documentation/tex/*.log
documentation/tex/*.gz
documentation/tex/*.out
documentation/tex/*.toc
documentation/tex/*.fls
documentation/tex/*.fdb_latexmk

entrega/
