@import url("../styles/colors.css");
@import url("../styles/general.css");
@import url("../styles/nav.css");
@import url("../styles/images.css");

nav.secundaria {
    background-color: var(--base);
    border-bottom: 0;
    column-count: 6;
}

.image-container {
    display: block;
    gap: 50px; /* Espacio entre imágenes */
}


@media screen and (min-width: 900px) {
    #destinations {
        column-count: 2;
    }
}

@media screen and (min-width: 1200px) {
    #destinations {
        column-count: 3;
    }
}

@media screen and (max-width: 700px) {
    #destinations {
        column-count: 1;
    }
}

/* Contenedor de la carta de viaje */
 .destination-card {
     background-color: var(--base);
     padding-inline: 20px;
     border: 3px solid var(--lavender-light);
     border-radius: 15px;
     overflow: hidden;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
     max-width: 300px;
     margin: 20px auto;
     font-family: sans-serif;
 }

/* Estilo de la imagen */
.destination-image {
    display: block;
    margin: auto;
    padding-top: 20px;
    border-radius: 20px;
    width: 100%;
    height: auto;
}

/* Contenedor de los detalles */
.destination-details {
    padding: 16px;
    text-align: center;
}

/* Nombre del destino name */
.destination-details h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: var(--text);
}

/* Descripción y precio */
.destination-details p {
    margin: 0 0 10px;
    color: var(--subtext1);
    font-size: 0.95rem;
}

/* Reservation button */
button .reserve {
    background-color: var(--blue);
    color: var(--base);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button .reserve:hover {
    background-color: var(--lavender);
}

