@import url("../styles/colors.css");

body {
  background-color: var(--base);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--text);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
