@import url("../styles/colors.css");

nav {
    /*all: revert;/* todo: arreglar el nav para que no herede las caracteristicas de bootstrap */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    background-color: var(--surface1);
    border-bottom: 5px solid var(--sapphire);
}

nav .logo-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre la imagen y el texto */
    text-decoration: none;
}

nav .logo-container img {
    height: 80px;
    width: auto;
}

nav .logo-container p {
    max-width: 160px;
    align-items: center;
}

nav .login {
    margin-left: auto;
}

nav .login img {
    height: 80px;
    width: auto;
}




nav ul {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5%;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    transition: background-color 0.5s ease, color 0.5s ease;
}

nav a:hover {
    color: var(--sapphire);
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    position: relative;
    font-size: 40px;
    cursor: pointer;
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.menu-toggle:hover {
    color: var(--sapphire);
    border-radius: 5px;
}

#menu-checkbox {
    display: none;
}

@media (max-width: 900px) {
    /* Versión de móvil: Icono de hamburguesa con desplegable vertical */
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 110px;
        right: 20px;
        width: 200px;
        background-color: var(--surface1);
        padding: 20px 0 20px 0;
        text-align: center;
        gap: 20px;
        box-shadow: 2px 2px 10px var(--crust);
        border-radius: 0 10px 10px 0;
    }

    /* Mostrar la barra cuando el checkbox está activado */
    #menu-checkbox:checked ~ ul {
        display: flex;
    }

    /* Mostrar el icono hamburguesa */
    .menu-toggle {
        display: block;
        position: absolute;
        right: 120px;
    }
}

@media (min-width: 901px) {
    /* Restablecer la barra de navegación cuando se vuelva a un ancho lo suficiente grande */
    #menu-checkbox {
        display: none;
    }

    nav ul {
        display: flex !important;
        position: static;
        padding: 0;
    }
}